.dynamo {

	.section {

		&.gray {
			background: #FAFAFA;
			margin-top: 100px;
			padding-bottom: 50px;

		}

		&.gradient {
			height: 60vh;

			.logotype {
				height: 100px;
				width: auto;
			}
		}
	}

	.iphone-iso {
		img {
			max-height: 48vh;
		}
	}

	.branding {

		img {
			width: 100%;
			height: 100%;
		}
	}

	.logos {

		img {
			height: 50px;
			width: auto;
		}
	}

	.card {
		&.case-short {
			position: relative;
			left: 10vw;
			top: 30vh;
			z-index: 3;
		}

		&.case-tall {
			position: relative;
			left: -45vw;
			top: 100px;
		}
	}

	.case-square {
		height: 420px;
		width: 420px;
		z-index: 100;
	}

	.screens {
		z-index: 200;
	}
}