.about-to-about-enter {
  position: absolute;

  .content {
    opacity: 1;
    z-index: 2;
  }

  .home {
    .menu {
      opacity: 1;
    }
  }
}

.about-to-about-enter.about-to-about-enter-active {
  position: absolute;

  .content {
    opacity: 1;
    transition: all 1000ms ease-in;
  }

  .home {
    .menu {
      transition: all 10ms ease-in;
    }
  }
}

.about-to-about-exit {
  position: absolute;

  .content {
    opacity: 1;
    z-index: 1
  }

  .home {
    .menu {
      opacity: 0;
    }
  }
}

.about-to-about-exit.about-to-about-exit-active {
  position: absolute;

  .content {
    opacity: 1;
    animation: slide-out-top 1000ms ease-in both;
  }

  .home {
    .menu {
      transition: all 10ms ease-in;
    }
  }
}

.slide-out-top {
  -webkit-animation: slide-in-bottom 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bottom 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 1;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 1;
  }
}

//.about-to-about-enter {
//  opacity: 1;
//  z-index: 2;
//  position: relative;
//}
//
//.about-to-about-enter.about-to-about-enter-active {
//  opacity: 1;
//  transition: all 1000ms ease-in;
//}
//
//.about-to-about-exit {
//  opacity: 1;
//  transition: opacity 1000ms ease-in;
//  z-index: 1;
//  position: relative;
//  top: -1000px;
//}
