@import 'animations';

.about-to-about-enter {
  position: relative;

  .content {
    opacity: 1;
    z-index: 2;
  }

  .portrait {
    z-index: 3;
    position: absolute;
    bottom: -10px;
    left: 700px;   
  }
}

.about-to-about-enter.about-to-about-enter-active {
  position: relative;

  .content {
    opacity: 1;
    transition: all 1000ms ease-in;
  }

  .portrait {
    z-index: 3;
    animation: slide-in-bottom 1000ms ease-in 500ms both;
    position: absolute;
    bottom: -10px;
    left: 700px;
  }
}

.about-to-about-exit {
  position: absolute;

  .content {
    z-index: 2;
    width: 40vw;
  }

  .portrait {
    z-index: 3;
    position: absolute;
    bottom: -10px;
    left: 700px;    
  }
}

.about-to-about-exit.about-to-about-exit-active {
  position: absolute;

  .content {
    animation: slide-out-top 1000ms ease-in both;
    width: 40vw;
  }

  .portrait {
    z-index: 3;
    animation: slide-out-bottom 1000ms ease-in 500ms both;
    position: absolute;
    bottom: -10px;
    left: 700px;
  }
  
}
