.preview-to-case-enter {
  position:absolute;

  .card {
    opacity: 1;
  }

  .case {
    opacity: 0;
  }

  .projects {
    opacity: 0;
  }

  .iphone {
    z-index: 3;
  }
}

.preview-to-case-enter.preview-to-case-enter-active {
  position:absolute;

  .card {
    opacity: 1;
  }

  .case {
    opacity: 1;
    animation: opacity 1000ms ease-in 1000ms both;

    .preview {
      opacity: 1;

      .title {
        animation: slide-in-right 1000ms ease-in 1000ms both;
      }

      .subtitle {
        animation: slide-in-right 1000ms ease-in 1150ms both;
      }

      .body {
        animation: slide-in-right 1000ms ease-in 1250ms both;
      }
      
      
    }
  }

  .header {
    animation: slide-in-left 1000ms ease-in 1000ms both;
  }

  .projects {
    opacity: 0;
  }
}

.preview-to-case-exit {
  position:absolute;

  .card {
    opacity: 1;
  }

  .case {
    opacity: 1;

    .preview {
      opacity: 0;
    }
  }

  .projects {
    opacity: 0;
  }

  .iphone {
    z-index: -1;
  }
}

.preview-to-case-exit.preview-to-case-exit-active {
  position:absolute;

  .card {
    opacity: 1;
    animation: slide-out-top 1000ms ease-in both;
  }

  .case {
    opacity: 1;
  }

  .iphone {
    animation: opacity 1000ms ease-in 10ms both;
  }

  .projects {
    opacity: 0;
  }
}

.slide-out-top {
  -webkit-animation: slide-in-bottom 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bottom 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 1;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 1;
  }
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bottom 1.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
    z-index: 3;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    z-index: 3;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
    z-index: 3;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    z-index: 3;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

