@import 'animations';

.preview-to-about-enter {
  position:absolute;
  .home {
    opacity: 1;
  }
  .preview {
    opacity: 1;
  }
}

.preview-to-about-enter.preview-to-about-enter-active {
  position:absolute;
  .home {
    opacity: 1;
  }

  .preview {
    opacity: 1;
  }
}

.preview-to-about-exit {
  position:relative;
  .home {
    opacity: 1;
  }
  .preview {
    opacity: 1;
  }

  .iphone {
    z-index: 3;

    @media all and (max-width: 1440px) {
      left: 40vw;
    }

    @media all and (max-width: 1199px) { 
      left: 35vw;
    }
  }
}

.preview-to-about-exit.preview-to-about-exit-active {
  position:relative;
  .home {
    opacity: 1
  }
  .preview {
    z-index: 2;
    opacity: 1;
    animation: slide-out-bottom 1000ms ease-in both;
  }
  .iphone {
    z-index: 3;
    animation: slide-out-bottom 1000ms ease-in both;

    @media all and (max-width: 1440px) {
      left: 40vw;
    }

    @media all and (max-width: 1199px) { 
      left: 35vw;
    }
  }
}