@import 'animations';

.preview-to-preview-enter {
  position:relative;

  .preview {
    opacity: 1;
  }

  .iphone {
    z-index: 3;

    @media all and (max-width: 1440px) {
      left: 40vw;
    }

    @media all and (max-width: 1199px) { 
      left: 35vw;
    }
  }
}

.preview-to-preview-enter.preview-to-preview-enter-active {
  position:relative;

  .preview {
    z-index: 2;
    opacity: 1;
  }

  .iphone {
    z-index: 3;
    @media all and (max-width: 1440px) {
      left: 40vw;
    }

    @media all and (max-width: 1199px) { 
      left: 35vw;
    }
  }
}

.preview-to-preview-exit {
  position:absolute;

  .preview {
    opacity: 1;
  }
}

.preview-to-preview-exit.preview-to-preview-exit-active {
  position:absolute;

  .preview {
    opacity: 1;

    .title {
      animation: slide-out-top 1000ms ease-in both;
    }
    

  }
}