.burris {
	.section {
		&.gray {
			background: #FAFAFA;
			margin-top: 100px;
			padding-bottom: 50px;
		}
	}

	.case-banner {
		position: relative;
		// height: 100%;
	}

	.stats {
		height: 300px;
		width: auto;
	}

	.logo {
		height: 150px;
		width: auto;
	}

	.features {
		position: relative;
		height: 100vh;
		width: 100vw;
	}

	.trio {
		position: absolute;
	}

	.notifications {
		position: relative;
		left: 0px;
		height: auto;
		width: 600px;
		z-index: 5;
	}

	.aws {
		position: relative;
		right: 0px;
		height: auto;
		width: 600px;
		z-index: 5;
	}

	.card {
		&.case-short {
			position: absolute;
		}
	}

	.case-banner {
		position: relative;
		height: 100%;
	}
}