// transitions
.fade-enter {
  opacity: 0;
  z-index: 2;
  //position:relative;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 0;
  transition: opacity 1000ms ease-in;
  z-index: 1;
  //position:relative;
}

.example-enter {
  opacity: 0.01;
  position: absolute;

  //width: 0px;
  //z-index: 2;
}

.example-enter.example-enter-active {
  position: absolute;

  opacity: 1;
  //width: 100px;
  transition: opacity 3000ms ease-in;
}

.example-exit {
  position: absolute;
  opacity: 1;
  //width: 100px;
  //z-index: 1;

}

.example-exit.example-exit-active {

  // add subclasses here for specific animations
  .menu {
    position: absolute;

    //width: 0px;
    opacity: 0.01;
    transition: opacity 3000ms ease-in;
  }

  //opacity: 0.01;
  ////width: 0px;
  //transition: opacity 3000ms ease-in;
}

.about-to-preview-enter {
  position:absolute;
  .home {
    opacity: 1;
  }
  .preview {
    opacity: 0.01;
  }
}

.about-to-preview-enter.about-to-preview-enter-active {
  position:absolute;
  .home {
    opacity: 0.01;
    transition: opacity 3000ms ease-in;
  }
  .preview {
    opacity: 1;
    transition: opacity 3000ms ease-in;
  }
}

.about-to-preview-exit {
  position:absolute;
  .home {
    opacity: 0.01;
  }
  .preview {
    opacity: 1;
  }
}

.about-to-preview-exit.about-to-preview-enter-exit {
  position:absolute;
  .home {
    opacity: 1;
    transition: opacity 3000ms ease-in;
  }
  .preview {
    opacity: 0.01;
    transition: opacity 3000ms ease-in;
  }
}

.slide-in-left.title {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
          animation: slide-in-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
}

.slide-in-left.subtitle {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.15s both;
          animation: slide-in-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.15s both;
}

.slide-in-left.body {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.25s both;
          animation: slide-in-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.25s both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
