// transitions
.fade-enter {
  opacity: 0;
  z-index: 2;
  //position:relative;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 0;
  transition: opacity 1000ms ease-in;
  z-index: 1;
  //position:relative;
}

.example-enter {
  opacity: 0.01;
  position: absolute;

  //width: 0px;
  //z-index: 2;
}

.example-enter.example-enter-active {
  position: absolute;

  opacity: 1;
  //width: 100px;
  transition: opacity 3000ms ease-in;
}

.example-exit {
  position: absolute;
  opacity: 1;
  //width: 100px;
  //z-index: 1;

}

.example-exit.example-exit-active {

  // add subclasses here for specific animations
  .menu {
    position: absolute;

    //width: 0px;
    opacity: 0.01;
    transition: opacity 3000ms ease-in;
  }

  //opacity: 0.01;
  ////width: 0px;
  //transition: opacity 3000ms ease-in;
}