@import 'dynamo/styles';
@import 'captis/styles';

.projects {
	height: 50vh;
	padding-left: 200px;

	.menu {
		position: relative;
		left: -10px;
   }
}

.card {
	border-radius: 0px !important;
	background: #fff;
	border: none;
	-webkit-box-shadow: 0px 2px 18px 9px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 18px 9px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 18px 9px rgba(0,0,0,0.1);
	
	&.project {
		height: 80vh;
	}

	&.case-short {
		width: 400px;
		height: 500px;
	}

	&.case-tall {
		width: 400px;
		height: 800px;
	}
}

.red-gradient {
	background-image: -webkit-linear-gradient(bottom left, #f69191, #fa8181, #fc7170, #fd605e, #fd4c4c);
	background-image: -o-linear-gradient(bottom left, #f69191, #fa8181, #fc7170, #fd605e, #fd4c4c);
	background-image: linear-gradient(to top right, #f69191, #fa8181, #fc7170, #fd605e, #fd4c4c);
}

.red-gradient-v {
	background-image: -webkit-linear-gradient(left, #f85e60, #f95a5b, #fb5556, #fc5151, #fd4c4c);
	background-image: -o-linear-gradient(left, #f85e60, #f95a5b, #fb5556, #fc5151, #fd4c4c);
	background-image: linear-gradient(to right, #f85e60, #f95a5b, #fb5556, #fc5151, #fd4c4c);
}

.green-gradient {
	background-image: -webkit-linear-gradient(bottom left, #4eb3c7, #4ac6d1, #4edad7, #5eedd8, #78ffd6);
	background-image: -o-linear-gradient(bottom left, #4eb3c7, #4ac6d1, #4edad7, #5eedd8, #78ffd6);
	background-image: linear-gradient(to top right, #4eb3c7, #4ac6d1, #4edad7, #5eedd8, #78ffd6);
}

.green-gradient-v {
	background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(83,179,198,1) 66%, rgba(83,179,198,1) 83%, rgba(83,179,198,1) 99%, rgba(83,179,198,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(66%, rgba(83,179,198,1)), color-stop(83%, rgba(83,179,198,1)), color-stop(99%, rgba(83,179,198,1)), color-stop(100%, rgba(83,179,198,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(83,179,198,1) 66%, rgba(83,179,198,1) 83%, rgba(83,179,198,1) 99%, rgba(83,179,198,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(83,179,198,1) 66%, rgba(83,179,198,1) 83%, rgba(83,179,198,1) 99%, rgba(83,179,198,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(83,179,198,1) 66%, rgba(83,179,198,1) 83%, rgba(83,179,198,1) 99%, rgba(83,179,198,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(83,179,198,1) 66%, rgba(83,179,198,1) 83%, rgba(83,179,198,1) 99%, rgba(83,179,198,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53b3c6', endColorstr='#FFFFFF',GradientType=1 ); /* ie6-9 */
}

.blue-gradient {
	background-image: -webkit-linear-gradient(bottom left, #75c2dc, #63a2c0, #5384a2, #446785, #354b67);
	background-image: -o-linear-gradient(bottom left, #75c2dc, #63a2c0, #5384a2, #446785, #354b67);
	background-image: linear-gradient(to top right, #75c2dc, #63a2c0, #5384a2, #446785, #354b67);
}

.btn {
	border-radius: 0px;
	border-color: #fff;
	background-color: #fff;
	color: #4D4D5D;
	font-family: Open Sans, Sans-serif;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 3px;
	text-align: left;
}
	
.btn:focus, .btn:active:focus, .btn.active:focus {
	border-color: none;
	background-color: none;
	color: #4D4D5D;
	font-weight: 600;
	box-shadow: none;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    border-color: #FD4C4C;
	background-color: #FD4C4C;
	color: #fff;
}


@media all and (max-width: 1199px) { 
	.btn {
		font-size: 11px;
		letter-spacing: 2.5px;
	}
}

.iphone {
	position: absolute;
	top: 200px;

	@media all and (max-width: 1440px) {
		left: 40vw;

		img {
			max-height: 500px;
			
		}
	}

	@media all and (max-width: 1199px) { 
		left: 35vw;
		
		img {
			max-height: 500px;
			
		}
	}
}

.preview {

	.number {
		width: 60px;
		border-bottom: 2px solid #FD4C4C;
	}

	.intro {

		@media all and (max-width: 1440px) { 
			width: 30vw;
		}


		@media all and (max-width: 1199px) { 
			width: 23vw;
		}
	}

	.btn {
		width: 150px;
		border-color: #FD4C4C;
		background-color: #FD4C4C;
		color: #fff;
	}

	.v-bar {
		background: #FD4C4C;
		height: 40px;
		width: 2px;
	}
}

.header {
	img {
		max-width: 58vw;
	}
}


.scroll {
	position: relative;
	top: -35px;

	.v-bar {
		position: relative;
		left: 50%;
		background: #D4DFE8;
		height: 70px;
		width: 2px;
	}
}

.case-banner {
	position: absolute;

	width: 100vw;
	height: auto;
}

.zero {
	width: 0px !important;
}

.push {
	margin-top: 30vh;
}

.h-bar {
	position: relative;
	background: #D4DFE8;
	height: 2px;
	width: 50px;
}








