@import 'dynamo/styles';

.btn {
	border-radius: 0px;
	border-color: #fff;
	background-color: #fff;
	color: #4D4D5D;
	font-family: Open Sans, Sans-serif;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 3px;
	text-align: left;
}
	
.btn:focus, .btn:active:focus, .btn.active:focus {
	border-color: none;
	background-color: none;
	color: #4D4D5D;
	font-weight: 600;
	box-shadow: none;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    border-color: #FD4C4C;
	background-color: #FD4C4C;
	color: #fff;
}

.projects {
	position: fixed;
	top: 50%;

	.menu {

   }
}

.home {
  	flex: wrap;
    position: relative;
    top: 35%;

   .menu {

   }
}

.card {
	border-radius: 0px !important;
	background: #fff;
	border: none;
	-webkit-box-shadow: 0px 2px 18px 9px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 18px 9px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 18px 9px rgba(0,0,0,0.1);
	
	&.project {
		height: 80vh;
	}

	&.case-short {
		width: 400px;
		height: 500px;
	}

	&.case-tall {
		width: 400px;
		height: 800px;
	}
}

.red-gradient {
	background-image: -webkit-linear-gradient(bottom left, #f69191, #fa8181, #fc7170, #fd605e, #fd4c4c);
	background-image: -o-linear-gradient(bottom left, #f69191, #fa8181, #fc7170, #fd605e, #fd4c4c);
	background-image: linear-gradient(to top right, #f69191, #fa8181, #fc7170, #fd605e, #fd4c4c);
}

.green-gradient {
	background-image: -webkit-linear-gradient(bottom left, #4eb3c7, #4ac6d1, #4edad7, #5eedd8, #78ffd6);
	background-image: -o-linear-gradient(bottom left, #4eb3c7, #4ac6d1, #4edad7, #5eedd8, #78ffd6);
	background-image: linear-gradient(to top right, #4eb3c7, #4ac6d1, #4edad7, #5eedd8, #78ffd6);
}

.blue-gradient {
	background-image: -webkit-linear-gradient(bottom left, #75c2dc, #63a2c0, #5384a2, #446785, #354b67);
	background-image: -o-linear-gradient(bottom left, #75c2dc, #63a2c0, #5384a2, #446785, #354b67);
	background-image: linear-gradient(to top right, #75c2dc, #63a2c0, #5384a2, #446785, #354b67);
}
















