@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1440px) { @content; }
}

.home {

  height: 60vh;
  padding-left: 10vw !important;

  .menu {
    .btn-secondary:active, .btn-secondary.active, .btn-secondary.active:hover {
      border-color: #FD4C4C;
      background-color: #FD4C4C;
      color: white;
    }

    .btn-secondary:hover {
      border-color: #FD4C4C;
      background-color: white;
      color: #4d4d5d;
    }

    .btn-secondary:focus {
      border-color: #FD4C4C;
      background-color: #FD4C4C;
      box-shadow: none !important;
      color: #fff;
    }
  }
}

.background {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .backdrop {
    position: absolute;
  }
}

@include for-phone-only {

  .backdrop {
    display: none;
  }
}

@include for-tablet-portrait-up {

  .backdrop {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}

@include for-tablet-landscape-up {

  .backdrop {
    height: 625px;
    width: auto;
    bottom: 0px;
    left: -40px;
  }
}

@include for-desktop-up {

  .backdrop {
    height: 750px;
    width: auto;
    bottom: -140px;
    left: -70px;
  }
}

@include for-big-desktop-up {

  .backdrop {
    height: 888px;
    width: auto;
    bottom: -170px;
    left: -100px;
  }
}

.personal {
  .portrait {
    position: absolute;
    bottom: -10px;
    left: 700px;

    img {
      height: 500px;
    }
  }
}

.skills {
  ul {
    li {
      font-size: 10px;
    }
  }
}

.connect {
  img {
    height: 13px;
    width: auto;
    padding-right: 12px;
  }

  .info {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}











